<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>FDFDFE</string>
	<string>E2E2E2</string>
	<string>ACACAC</string>
	<string>595959</string>
	<string>000000</string>
	<string>FD2C2B</string>
	<string>FD892B</string>
	<string>FCD10F</string>
	<string>FDF0B5</string>
	<string>B8FD5E</string>
	<string>5EFD9E</string>
	<string>0BB720</string>
	<string>21F7E5</string>
	<string>008AF3</string>
	<string>3B61EF</string>
	<string>161161</string>
	<string>6C25CC</string>
	<string>AD0FFE</string>
	<string>F249DC</string>
	<string>876025</string>
</array>
</plist>
